*{
    margin: 0;
    box-sizing: border-box;
    background-color: honeydew;
}
@mixin centerItems {
    display: flex;
    align-items: center;
    justify-content: center; 
}
header{
    height: 30vh;
    width: 100%;
    @include centerItems();
    h1{
        font-family: sans-serif;
    }
}

.container{
    position: relative;
    height: 40vh;
    width: 50%;
    max-width: 415px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 3px 3px black;

    .color{
        height: 50%;
        width: 50%;
    }
}

    .blue-right{
        float: right;
        // background-color: rgb(58, 58, 212);
        background-color: red;
        border-bottom: 5px solid black;
    }    
    .red-left{
        float: left;
        // background-color: rgb(238, 77, 77);
        background-color: red;
        border-bottom: 5px solid black;
    }
    .green-left{
        float: left;
        float: inline-end;
        // background-color: rgb(120, 238, 120);
        background-color: white;
        border-top: 5px solid black;
    }
    .yellow-right{
        float: right;
        float: inline-end;
        // background-color: rgb(212, 212, 87);
        background-color: white;
        border-top: 5px solid black;
    }

 
.btn-start{
    z-index: 2;
    width: 40%;
    max-width: 150px;
    height: 30%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    background-color: rgb(253, 252, 252);
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 50%;
    @include centerItems();
    border: 10px solid black;
    text-align: center;
    p{
        background-color: transparent;
    }
}

.hide{
    display: none;
}

.light{
    opacity: 0.4;
}

.red{
    background-image: url(../assets/charmander.jpg);
    background-size: cover;
}

.blue{
    background-image: url(../assets/squirtle.jpg);
    background-size: cover;
}

.green{
    background-image: url(../assets/bolba.jpg);
    background-size: cover;
}

.yellow{
    background-image: url(../assets/pikachu.jpg);
    background-size: cover;
}

.modal{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-inside{
    height: 200px;
    font-family: sans-serif;
    text-align: center;
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level{
    font-size: 40px;
    color: #353030;
}

.info{
    background-color: transparent;
}

@media (min-width: 500px){
    .container{
        height: 50vh;
    }
    .btn-start{
        font-size: 16px;
    }
}

@media (min-width: 800px){
    .container{
        height: 60vh;
    }
    .btn-start{
        font-size: 20px;
    }
}




