* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: honeydew;
}

header {
  height: 30vh;
  width: 70%;
  margin: auto auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 80%;
  max-width: 330px;
}

.container {
  position: relative;
  height: 43vh;
  width: 65%;
  max-width: 415px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 3px 3px black;
          box-shadow: 0px 3px 3px 3px black;
}

.container .color {
  height: 50%;
  width: 50%;
}

.blue-right {
  float: right;
  background-color: red;
  border-bottom: 5px solid black;
}

.red-left {
  float: left;
  background-color: red;
  border-bottom: 5px solid black;
}

.green-left {
  float: left;
  float: inline-end;
  background-color: white;
  border-top: 5px solid black;
}

.yellow-right {
  float: right;
  float: inline-end;
  background-color: white;
  border-top: 5px solid black;
}

.btn-start {
  z-index: 2;
  width: 40%;
  max-width: 150px;
  height: 30%;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  background-color: #fdfcfc;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 10px solid black;
  text-align: center;
}

.btn-start p {
  background-color: transparent;
}

.hide {
  display: none;
}

.light {
  opacity: 0.4;
}

.red {
  background-image: url(../assets/charmander.jpg);
  background-size: cover;
}

.blue {
  background-image: url(../assets/squirtle.jpg);
  background-size: cover;
}

.green {
  background-image: url(../assets/bolba.jpg);
  background-size: cover;
}

.yellow {
  background-image: url(../assets/pikachu.jpg);
  background-size: cover;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.box-inside {
  height: 200px;
  font-family: sans-serif;
  text-align: center;
  width: 60%;
  max-width: 400px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.level {
  font-size: 40px;
  color: #353030;
}

.intro {
  height: 400px;
  font-family: sans-serif;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro > h1 {
  text-align: center;
  margin-bottom: 10px;
}

.intro > ul {
  text-align: justify;
}

li {
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .container {
    height: 65vh;
  }
  .btn-start {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  .container {
    height: 65vh;
  }
  .btn-start {
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */